<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="div1">
        <span id="content">Some test content</span>
    </div>
        <span>
            asdgsdgsdsdg
        </span>
    <div id="div2">
    
    </div>
    
    <script>
        // Keeps track of the drop target that the mouse is currently hovering over
        let dropTarget = null;

        function handleDropTargeting(element) {
            // Add a mouseover listener - when the mouse enters the target element, this will be called
            element.addEventListener('mouseenter', () => {
                dropTarget = element;
            });
        
            // Add a mouseout listener - when the mouse leaves the target element, this will be called
            element.addEventListener('mouseleave', () => {
                dropTarget = null;
            });
        }

        // Now apply it to the two divs:
        handleDropTargeting(document.getElementById('div1'));
        handleDropTargeting(document.getElementById('div2'));
    </script>
</body>
</html>